*{
    margin: 0;
    padding: 0;
    box-shadow: none;
    border:none;
    background: none;
    z-index: 1;
    color: inherit;
    text-decoration: none;
}


h1,h2,h3,h4,h5,h6,p, a{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

h1{
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 60px;
}
h2, h3{
    font-size: 2rem;
    line-height: 39px;
}
h2{
    font-weight: 400;
}
h3{
    font-weight: 600;
    color: var(--color-gray-800)
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
}
a{
    color: inherit;

}
p{
    font-size: 1.125rem;
}
@media (max-width:768px){
    html {
        font-size: 83%;
    }
}

.btn{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 29px;

    padding: 16px 40px;

    background-color: var(--color-yellow-500);
    color: var( --color-yellow-900);

    border-radius: 180px;

    transition: 0.2s filter;
}   
.btn:hover{
    filter: brightness(0.9);
}
.flex{
    display: flex;
}
.justifyCenter{
    justify-content: center;
}

.container{
    max-width: 1220px;
    width: 100%;

    padding: 10px;
}


.developer{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    font-weight: 300;
    background-color: var(--color-black-800);
    border-top: 2px solid var(--color-green-500);
    color: var(--color-gray-300);
}
.developer p {
    font-weight: 400;
    font-size: 14px;
}
.developer a{
    color:var(--color-green-500);

}